<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="footer_widget">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <aside class="f_widget about_widget">
                        <img src="img/logo.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consec-tet ur adipiscing elit, sed do iusmod tempor incididunt ut
                            labore et.</p>
                        <a class="f_r_link" href="#">Read More <i class="fa fa-angle-double-right"
                                aria-hidden="true"></i></a>
                        <ul class="f_social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-4 col-xs-6">
                    <aside class="f_widget link_widget">
                        <div class="f_title">
                            <h3>Quick Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">- Home</a></li>
                            <li><a href="#">- About Us</a></li>
                            <li><a href="#">- Faq’s</a></li>
                            <li><a href="#">- Terms of service</a></li>
                            <li><a href="#">- Privacy Policy</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-4 col-xs-6">
                    <aside class="f_widget contact_widget">
                        <div class="f_title">
                            <h3>get in touch</h3>
                        </div>
                        <div class="contact_inner">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Consult plus</h4>
                                    <p>54B, Tailstoi Town 5238 MT, La city, IA 522364</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">+ 01865 524 8503 </a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">info@consultplus.com</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <div class="footer_copyright_inner">
                <div class="pull-left">
                    <p>Copyright © consultpro
                        <script>document.write(new Date().getFullYear());</script>. All rights reserved. </p>
                </div>
                <div class="pull-right">
                    <h4>Created by: <a href="#">DesignArc</a></h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->