{% extends "core/base.html" %}
{% load static %}
{% block content %}
<!--================Slider Area =================-->
<section class="main_slider_area" id="home">
    <div id="main_slider4" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-thumb="{% static 'core/img/slider-11.jpg' %}" data-rotate="0" data-saveperformance="off"
                data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5=""
                data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'core/img/slider-11.jpg' %}" alt="" data-bgposition="center center"
                    data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" id="slide-1588-layer-1"
                        data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']"
                        data-y="['top','top','top','top']" data-voffset="['215','215','215','220','130']"
                        data-fontsize="['55','55','55','40','30']" data-lineheight="['59','59','59','50','40']"
                        data-width="['550','550','550','400']" data-height="none" data-whitespace="normal"
                        data-type="text" data-responsive_offset="on"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left']">Kenya's No.1 Loan App</div>

                    <div class="tp-caption tp-resizeme secand_text" id="slide-1589-layer-2"
                        data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']"
                        data-y="['top','top','top','top']" data-voffset="['356','356','356','340','225']"
                        data-fontsize="['18','18','18','18','16']" data-lineheight="['26','26','26','26']"
                        data-width="['550','550','550','550','300']" data-height="none" data-whitespace="normal"
                        data-type="text" data-responsive_offset="on"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left']">SignUp Today to get an Instant Loan to your
                        Mpesa.
                    </div>

                    <div class="tp-caption tp-resizeme slider_button" id="slide-1590-layer-3"
                        data-x="['left','left','left','15','0']" data-hoffset="['0','0','0','0']"
                        data-y="['top','top','top','top']" data-voffset="['445','445','445','425','330']"
                        data-fontsize="['14','14','14','14']" data-lineheight="['46','46','46','46']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left']">
                        <a class="main_btn" href="#">Download App</a>
                        <a class="main_b_btn" href="#">learn more</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!--================How It Works Area =================-->
<section class="our_service_area our_white_service" id="how-it-works">
    <div class="container">
        <div class="section_title">
            <h2>How it Works</h2>
            <p>Ipsum is simply text of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum
                is simply text of the. Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the
                Ipsum is simply text of thetypesetting Ipsum is simply.</p>
        </div>
        <div class="row service_inner">
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fas fa-cloud-download-alt fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Download Loan App</h4>
                            </a>
                            <p>Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is
                                simply.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fab fa-wpforms fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Fill Application Form</h4>
                            </a>
                            <p>Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is
                                simply.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fas fa-money-bill-wave-alt fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Receive Money on Mpesa</h4>
                            </a>
                            <p>Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is
                                simply.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fas fa-address-card fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Repay on Time to Build Credit History</h4>
                            </a>
                            <p>Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is
                                simply.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="media">
                        <div class="media-left">
                            <i class="fas fa-user-friends fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h4>Refer Friends and Earn Points</h4>
                            </a>
                            <p>Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is
                                simply.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Consult Policy Area =================-->
<section class="consult_policy_area" id="about">
    <div class="container">
        <div class="consult_policy_inner">
            <h3>About<span>Us</span></h3>
            <p>Ipsum is simply text of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum
                is simply text of the. Lorem Ipsum is simply text of the stry simply dummy text of the printing and text
                of the stry simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply text of
                the. Lorem Ipsum is simply text of the stry stext .</p>
        </div>
    </div>
</section>
<!--================End Consult Policy Area =================-->

<!--================FAQ Area =================-->
<section class="faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center">
                <div class="section_title text-center">
                    <h2>FAQs</h2>
                </div>
                <div class="panel-group faq_panel" id="faq_acc" role="tablist" aria-multiselectable="true">
                    {% for faq in faqs%}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="h_faq">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#faq_acc" href="#c_faq"
                                    aria-expanded="true" aria-controls="c_faq">
                                    {{faq.title}}
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="c_faq" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h_faq">
                            <div class="panel-body">
                                {{faq.body}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<!--==================End of FAQ Area===================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area" id="testimonial">
    <div class="container">
        <div class="section_title text-center">
            <h2>Client Testimonials</h2>
        </div>
        <div class="testimonials_slider owl-carousel">
            {% for client in testimonials %}
            <div class="item">
                <div class="media">
                    <div class="media-left">
                        <img src="{{client.image.url}}" alt="">
                        <i>“</i>
                    </div>
                    <div class="media-body">
                        <p>{{client.message}}</p>
                        <h4>- {{client.client_name}}</h4>
                        <h5>{{client.client_title}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->


<!--================Contact Us Area =================-->
<section class="request_call_back_area" id="contact">
    <div class="container">
        <div class="section_title text-center">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <form class="call_back_contact" action="" method="post" id="contactForm" novalidate="novalidate">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="number" name="number" placeholder="Phone">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" value="submit" class="btn submit_b_btn form-control">submit now</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Request Call Back Area =================-->
{% endblock %}